<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ADD</title>
    <link rel="stylesheet" href="/static/login_css.css">
</head>

<body>
<h1>Update Card</h1>
<hr>
<form action="/{{ user_id }}/{{ list_id }}/{{ card_id }}/edit_card" method="POST" id="add">
    <div class="mb-3">
            <label for="exampleFormControlInput1" id="exampleFormControlInput1">Enter title</label><br>
            <input class="form-control" type="text" name="c_title" value="{{ card.title }}"><br>
            <label for="exampleFormControlInput1" id="exampleFormControlInput2">Enter content</label><br>
            <input class="form-control" type="text" name="c_content"  value="{{ card.content }}"><br>
            <label for="exampleFormControlInput1" id="exampleFormControlInput3" >Enter deadline</label><br>
            <input type="datetime-local" name="deadline" value="{{ card.deadline }}" ><br>
    </div>

        <input type="radio" name="done" value="yes" >
        <label>Completed</label>
        <input type="radio" name="done" value="no" checked="checked">
        <label>Not Completed</label>
    <br>
<br>
    <label for="list_titles"> Select LIST: </label>
                    <select name="move"  id="move" >
                        {% for list in lists %}
                        {% if list.id == list_id %}
                        <option value="{{ list.id }}" selected>{{ list.title }}</option> <!-- current list it belongs to -->
                        {% else %}
                        <option value="{{ list.id }}" >{{ list.title }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

<br>

<div>
        <input type="submit"  value="OK">
    </div>

</form>

<br>
<a href="{{ url_for('main_board',user_id=user_id) }} ">Go back </a>


</body>
</html>